body {background-color: #ECDFC8;}
hr {border-style: dotted none none; border-color: #FEFFDF; border-width: 5px; width: 20%;}
h2 {color: #1b1b2f}
h3 {color: #1b1b2f}
table {color: #4d3e3e}
th {color: #1b1b2f}
ul {color: #4d3e3e}
a {color: #1b1b2f}
